body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f1a;
  color: white;
  text-align: center;
}

.background-image {
  height: 100vh;
  background-image: url(i.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

 nav {
  justify-content: space-between;
  display: flex;
  background: linear-gradient(to right, #1a0033, #000);
  border-color: green;
  border-width: 2px;
  color: #fff; /* or any color that contrasts with your background */
  padding: 10px 20px;
  font-size: 16px;
  border-style: solid;
  border-radius: 20px;
  top: 0;
  position: sticky;
  z-index: 1000;
  
}

<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>


.hero {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3em;
}

#slogan {
  
  
  font-family: 'Tangerine', serif;
  font-size: 34px;
  text-shadow: 4px 4px 4px #aaa;
  font-weight: 9px;
}

.btn {
  margin-top: 20px;
  padding: 12px 20px;
  background: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.section {
  padding: 60px 20px;
}

/* Animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fade-in.delay {
  animation-delay: 0.5s;
}

.fade-in.delay2 {
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.fade-up.active {
  opacity: 1;
  transform: translateY(0);
}

.zoom {
  transform: scale(0.8);
  opacity: 0;
  transition: 1s;
}

.zoom.active {
  transform: scale(1);
  opacity: 1;
}

/*continuing editing :-)*/
.more-services {
  
  justify-content: space-between;
  text-align: left;

  
}

.more-services-text {
    color: green;
}

#footer {
  background-color: #030712;
  bottom: 0;
  margin-bottom: 0;
}











